@import "../../styles/config.scss";

#movieDetail_collapsed,
#movieDetail_expanded {
    overflow: hidden;
    transition: max-height 0.5s ease; 
}

#movieDetail_collapsed {
    max-height: 0px;
}

#movieDetail_expanded {
    max-height: calc(100vh - 500px);
}
.movieDetail {
    overflow: hidden;
  position: relative;
  &-backdrop {
    filter: brightness(50%);
    width: 100vw;
    max-height: calc(100vh - 500px);
    object-fit: cover;
    object-position: center 10%;
  }

  &-textContainer {
    position: absolute;
    bottom: 20px;
    z-index: $z-index-1;
    padding: 2em 8em;
    max-width: 60%;

    h1 {
        font-size: $font-size-xxl;
        text-transform: uppercase;
        margin-bottom: $spacing-xxl;

    }
    p {
        font-size: $font-size-m;
        margin-bottom: $spacing-xxl;
    }
    &-genreContainer {

    }

  }
}
