@import "../../styles/config.scss";
.movieDetail {
  position: relative;
  &-backdrop {
    filter: brightness(50%);
    width: 100vw;
    max-height: calc(100vh - 450px);
    object-fit: cover;
    object-position: center 10%;
  }

  &-textContainer {
    position: absolute;
    bottom: 20px;
    z-index: $z-index-1;
    padding: 2em 8em;
    max-width: 60%;

    h1 {
        font-size: $font-size-xxl;
        text-transform: uppercase;
        margin-bottom: $spacing-xxl;

    }
    p {
        font-size: $font-size-m;
        margin-bottom: $spacing-xxl;
    }
    &-genreContainer {
        
    }

  }
}
