@import "../../styles/config.scss";
.moviesList {
    width: 100%;
    background-color: $primary-color;
    
    .moviesContainer_collapsed , .moviesContainer_expanded{
        padding: $spacing-xxl 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        transition: max-height 0.5s ease; 
        height: 100%;  
        &::-webkit-scrollbar {
            display: none;
          }
     }
    .moviesContainer{
        &_collapsed {
           max-height: 500px;
            overflow: scroll;  
            overflow-x: hidden;        
        }
        &_expanded {
            max-height: 100%;   
        }
}
    .movieItem{
        min-width: 300px;
        height: 350px;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 3px;
        box-shadow: 0.2px 3px 5px rgba(0,0,0,0.1);
        background-color: $secondary-color;
        img{
            width: 100%;
            max-width: 300px;
            height: auto;
            max-height: 280px;
            object-fit: cover;
            object-position: center 10%;
        }
        p{
            background-color: $secondary-color;
            height: 20px;
            font-weight:bold;
            text-align: center;            
        }
        .voteInfo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top:5px;
            .voteCount{
                background-color: $primary-color;
                padding: 5px 10px;
                border-radius:3px;
                
            }
        }
    }
}